 # basics

 - variables
 - operators
 - datatypes
 - i/0

In [33]:

x = 3
a,b=3,4
c=a+b

In [34]:
l=5
b=10
area=l*b
print(area)

50

In [35]:
p=100
r=10
t=5
si= (p*r*t)/100
print(si)

50.0

In [36]:
del p, r,t

# operators
- assignment
- arithmetic
- comparison
- logical
- membership
- identity

In [37]:
# assignment = +=  -= *= /=

a= 10
a +=5
a-=2
a*=6

In [38]:
#arithmetic =  - * / % ** 

m=19
n=12

m-n

7

In [53]:
m+n

31

In [40]:
m/n

1.5833333333333333

In [41]:
m//n

1

In [42]:
m**n

2213314919066161

In [43]:
m%n

7

In [44]:
print(m//n)
print(m**n)

1
2213314919066161

In [45]:
#comparison

x=100
y=200
print(x>y) 
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y) #inequality

False
True
False
True
False
True

In [46]:
#Logical operator "and"  "or"

print(x<14 or x==100)

print(y>400 and y==200)

print(not x ==100)

True
False
False

In [47]:
#membership

x=[1,2,3,4,5,6,7,8]
print(1 in x)
print(1 not in x)
print(10 in x)
print(10 not in x)

True
False
False
True

In [48]:
#identity is , is not

a= 10
b=a
c=12
print(a is b)
print(a is not c)
print(a is c)

True
True
False

# datatypes
- int
- float 
- bool
- str
- list
- tuple
- dictionary
- set

In [49]:
name =" Arpit tiwari"
pi= 3.14
sleepy= True
data = None
a_list = [1,2,3,4]
a_tuple = (1,2,3,4)
a_set= {1,2,3,4}
a_dict= {"a":12}

Print function

In [50]:
print()
print("hello")

hello

In [51]:
fruits = ["apple","banana","guvava"]
print(fruits)
print(*fruits, sep= "\n")

['apple', 'banana', 'guvava']
apple
banana
guvava

In [52]:
a,b= 10,20
c= a+b
print("result=>", a,"+",b,"=",c)#comma seperated values
print(f"Result =>{a}+{b}= {c}") # f string

result=> 10 + 20 = 30
Result =>10+20= 30