# Control flow
### condition
- if
- if else
- if elif 
- if elif ladder
- match case
- nested if

### loops
- for
- while

In [2]:
x= 10
if x>=5:
    print("😍")


name = "Arpit"
if name:
    print("name is there")

😍
name is there

In [3]:
a= "Apple"
if len(a):
    print("a is not empty")
else:
    print("a is empty")

a is not empty

- if elif Ladder

In [4]:
a= 15
b= 22
c= 10

if a>b and a>c:
    print("a is greater")
elif(b>a and b>c):
    print("b is greater")
else:
    print("c is grater")

b is greater

In [1]:
marks= int(input("enter the marks"))
if marks >=90:
    grade="A"

elif marks<90 and marks>=75:
    grade= "B"
elif marks<75 and marks>=60:
    grade="C"
else:
    Grade="D"       
print(f"  Student Marks = {marks}")
print(f" Student grade = {grade}")

  Student Marks = 70
 Student grade = C

- Match case

In [7]:
a= input('What is capital of India').title()
match a:
    case 'Lucknow':
        print('you are idiot')
    case 'Delhi':
        print('you are Right')
    case 'mumbai':
        print('absolutely not')
    case _:
        print('nikaliye yaha se')

you are Right

# loops
- step based loop(for loops)
- condition based loop(while loops)

In [2]:
numbers= [1,2,3,4,5,6]
for i in numbers:
    print(i)

1
2
3
4
5
6

In [3]:
brands= ["sony", "apple", "lenovo","samsung"]
for name in brands:
    print(name)

sony
apple
lenovo
samsung

# iterable
- list
- tuple
- str
- set
- dict
- range
- generator

In [ ]:
word='journry'
for ch in word:
    print(ch)

In [ ]:
for i in {12,52,23,34,55}:
    print(i)

range function for loop

range(stop)- 0 to stop 1
range(start, stop) -1

In [ ]:
for i in range(10):#till n-1
    print(i, end=" ")

In [ ]:
for i in range(1,9):
    print(i, end= " ")

In [ ]:
for i in range(5,15,2):
    print(i, end = " ")

In [ ]:
# reverse loop
for i in range(10,0,-1):
    print(i, end= " ")

In [ ]:
for i in range(-5, 6,):
    print(i, end= " ")

In [1]:
# sum of all number from 1 to 100

total = 0
for i in range(1,100):
    total= total+i
print(total)

4950

In [ ]:
sum(list(range(1,100)))

In [ ]:
# find the largest word in the list

words= ['ben','satyam','ravishankar', 'prayagraj']
word= ''
for item in words:
    if len(item)> len(word):
        word= item
print(word)

break and continue

In [6]:
for i in range(10):
    if i == 8:
        break
    print(i, end= ' ')
print("the end")

0 1 2 3 4 5 6 7 the end

In [7]:
data= [1,2,4,5,6,7,8]
for i in data:
    if i == 7:
        break
    print(i)

1
2
4
5
6

In [ ]:
data=[1,2,3,4,0,5,6,7]
for i in data:
    if i == 0:
        continue
    print(i**2)

In [ ]:
fruits=['apple', 'banana',' mango', ' orange', ' kiwi']
for idx, name in enumerate(fruits):
    print(idx, name)

In [ ]:
numbers= [23,3,4,44,55,66,76]
for idx, num in enumerate(numbers):
    print(idx* num)

0
3
8
132
220
330
456

In [ ]:
x= [1,2,3,4,]
y=[11,22,33,44,55]
for i, j in zip(x,y):
    print(i+j)

In [ ]:
x=[1,2,3]
y=[4,5,6]
z= [7,8,9]
w= "arpit"
for i, j, k, l in zip(x,y,z,w):
    print(i+j+k, w)

In [ ]:
# count the number of vowels in a sentence

sentence= "this is a very good day"
count=0
for ch in sentence:
    if ch in 'aeiou':
        count +=1
print(count)

While loops

In [ ]:
#sum of all digits
num= 12345
result=0
while num>0:
    result += num%10
    num//=10#remove unit digit
print(f"answer:{result}")

answer:15

In [ ]:
total= 0
while True:
    num= input("enter number")
    if not num:
        break
    total+=int(num)
        
print(f"total=>{total}")

total=>0

"for - else" and while- else

In [ ]:
for i in range(5):
    print(i)
else:
    print("The loop is completed")

0
1
2
3
4
The loop is completed

In [ ]:
for i in range(5):
    print(i)
    if i==4:
        break

else:
    print("The loop is completed")

0
1
2
3
4

In [ ]:
num = int(input("Enter number"))
for i in range(2, num):
    if num%i ==0:
      print(f"is not prime=>{num}")
    break
else:
    print(f"is prime{num}")

is not prime=>22

In [ ]:
x= [12,45,67,78,23]
y= [2,3,4,5,6,2]
for i,j in zip(x,y):
    print(i**j)

144
91125
20151121
2887174368
148035889