# Data structure
- creating
- Indexing and slicing(same as string)
- methods
- list comprehension

In [ ]:
# creation
x=[]
num_list= [1,2,3]
word_list= ["apple", "banana", "guava"]
bool_list= [True, False]
mixed_list= [1,2,'hey',3,'good']
nested_list= [[1,3],[4,5]]

In [1]:
y= list(range(1,16,3))
print(y)

[1, 4, 7, 10, 13]

In [2]:
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]
mat=[a,b,c]
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
z=[1]*10
print(z)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Rules for the list
1. Indexed
2. Ordered
3. mutable
4. hetrogenous datatype
5. can have duplicate values
6. represent with[]
7. list() can be used to cast other datastructure to list

In [5]:
names=['Arpit','Satwik','naman', 'rajeev','manas','priyanshu','piyush','Abhay', 'govind', 'sagar','rishi','ashu', 'ram']
print(names[:5])

['Arpit', 'Satwik', 'naman', 'rajeev', 'manas']

In [7]:
print(names[::-1])#reverse
print(names[::2])#even student
print(names[1::2])# odd student

['ram', 'ashu', 'rishi', 'sagar', 'govind', 'Abhay', 'piyush', 'priyanshu', 'manas', 'rajeev', 'naman', 'Satwik', 'Arpit']
['Arpit', 'naman', 'manas', 'piyush', 'govind', 'rishi', 'ram']

In [15]:
for i in names:
    print(i[::-1], end=' ')

    9

tiprA kiwtaS naman veejar sanam uhsnayirp hsuyip yahbA dnivog ragas ihsir uhsa mar

list methods
- add

 - append
 -  extend
 - insert

- remove

 -remove
  - pop
  - clear


- utility
  - reverse
  - count
  - index
  - copy

In [18]:
fruits=['apple','banana','cherry','dragonfruits', ' elderberry','fig']
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruits', ' elderberry', 'fig']

In [20]:
fruits.append('guava')
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruits', ' elderberry', 'fig', 'guava', 'guava']

In [22]:
fruits.append('[1,2,3]')
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruits', ' elderberry', 'fig', 'guava', 'guava', '[1,2,3]', '[1,2,3]']

In [24]:
fruits.extend([1,2,3])
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruits', ' elderberry', 'fig', 'guava', 'guava', '[1,2,3]', '[1,2,3]', 1, 2, 3, 1, 2, 3]

In [28]:
x= [11,12,14,15,18,20]
x[2]= 13
print(x)

[11, 12, 13, 15, 18, 20]

In [29]:
x.insert(3,14)
print(x)

[11, 12, 13, 14, 15, 18, 20]

In [34]:
x.insert(-2,16)

print(x)

x.insert(-2,17)
print(x)

[11, 12, 13, 14, 15, 16, 17, 16, 16, 17, 16, 17, 16, 18, 20]
[11, 12, 13, 14, 15, 16, 17, 16, 16, 17, 16, 17, 16, 17, 18, 20]

In [37]:
x.remove(20)
print(x)

[11, 12, 13, 15, 16, 17, 16, 16, 17, 16, 17, 16, 17, 18]

In [38]:
x=[1,2,3,4,5]
if 5 in x:
    x.remove(5)
if 6 in x:
    x.remove(6)
print(x)

[1, 2, 3, 4]

In [41]:
# pop

x= [11,12,13,14,15,16]
x.pop()
print(x)

[11, 12, 13, 14, 15]

In [43]:
item= x.pop()
print(x)
print(item)

[11, 12, 13]
14

In [44]:
fruits.reverse()
print(fruits)

[3, 2, 1, 3, 2, 1, '[1,2,3]', '[1,2,3]', 'guava', 'guava', 'fig', ' elderberry', 'dragonfruits', 'cherry', 'banana', 'apple']

In [48]:
nums= [54,55,47,14,58,31,89,99]
nums.sort()
print(nums)

nums.sort(reverse=True)
print(nums)

[14, 31, 47, 54, 55, 58, 89, 99]
[99, 89, 58, 55, 54, 47, 31, 14]

In [49]:
print(x.count(31))

0

In [56]:
print(fruits)
print(fruits.index('apple'))

[3, 2, 1, 3, 2, 1, '[1,2,3]', '[1,2,3]', 'guava', 'guava', 'fig', ' elderberry', 'dragonfruits', 'cherry', 'banana', 'apple']
15

In [57]:
x=[1,2,3]
y=x
print(y)
print(y in x)

z=x.copy
print(x)

[1, 2, 3]
False
[1, 2, 3]
<built-in method copy of list object at 0x000002BF2AE90240>