# string
- creating
- indexing
- slicing
- methods

In [2]:
#creation

a=''#(empty string)
name='sara'
city="lucknow"
message='''hi my name is arpit'''
print(a, name, city, message)

 sara lucknow hi my name is arpit

In [3]:
# string duplication

decoration= '|~~o~~|'* 10
print(decoration)

|~~o~~||~~o~~||~~o~~||~~o~~||~~o~~||~~o~~||~~o~~||~~o~~||~~o~~||~~o~~|

In [5]:
#string concatenation

name +"_"+city

'sara_lucknow'

In [8]:
#casting
a= str(5454848)
b= str(True)
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [14]:
word= "Arpit"
print(word)
print(len(word))
print(word[0])
print(word[1])
print(word[2])
print(word[3])
print(word[-1])#last
print(word[-2])#second last

Arpit
5
A
r
p
i
t
i

slicing

var[start:stop]# start from index and get slice till -1
var [start: stop: step]
var[: stop]
var[start: ]

In [19]:
print(word[0:])
print(word[::-1])

Arpit
tiprA

In [27]:
name= "vijay deenanath chauhan"

print(name[0:5])
print(name[6:16])
print(name[16:25])

vijay
deenanath
chauhan